<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @* @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container" style="
            display: flex;
            align-items: center;
            background-color: #1f2229;
            padding: 15px 20px;
        ">
                    <div class="navbar-header">
                        <a href="/Tours" style="
            color: white;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 1.5px;
            font-size: 23px;
        ">ADMIN PAGE</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" style="
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-left: 20px;
            list-style-type: none;

">
                    <li><a style=" color: white; text-decoration: none;" href="@Url.Action("Index","Tours")">Quản lý Tour</a></li>
                    <li><a style=" color: white; text-decoration: none;" href="@Url.Action("Index","TourMaus")">Quản lý Tour Mẫu</a></li>
                    <li><a style=" color: white; text-decoration: none;" href="/Home/Contact">Quản lý tài khoản</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SJourney Tour</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
