@using WebTourTravel.Help

@model List<WebTourTravel.Models.ModelOrderTour>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hotelier - Hotel HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/bootstrap/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Booking Start -->
        <div class="container-xxl py-5">
            <div class="container" style="max-width: 1100px;">
                <div class="row g-5">
                    <div class="col-lg-3" style="text-align: left;">
                        <div class="row g-3" style="border: 1px solid rgb(206, 201, 201); padding: 15px; border-radius: 6px;">
                            <div class="col-md-12 row" style="margin: 0px; padding: 0px;">
                                <div class="col-3" style="padding: 0px;">
                                    <img class="w-100 h-100" src="~/images/danang.jpg" style="border-radius: 100%;">
                                </div>
                                <div class="col-9">
                                    @{
                                        var nguoiDung = HelpCustommners.GetNguoiDungByEmail(User.Identity.Name);
                                    }
                                    <div style="font-weight: 600; font-size: 16px; color: black;">@nguoiDung.HoTen</div>
                                    <div class="id_user" style="font-size: 11px; color: black;">@nguoiDung.Gmail</div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px; padding: 0px;">
                                <div><a href="@Url.Action("ShowEditAccount","Profile")" style="color: black; font-weight: 600; cursor: pointer;">Thông tin cá nhân</a></div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px; padding: 0px;">
                                <div><a href="@Url.Action("History","Profile", new { idUser = nguoiDung.Gmail})" style="color: black; font-weight: 600; cursor: pointer;">Lịch sử đặt Tour</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9" style="padding: 0px 30px;">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <div style="display: flex; justify-content: space-between; border: 1px solid rgb(206, 201, 201); padding: 10px 15px; border-radius: 6px;font-size: 14px;margin-bottom: 20px;">
                                <div><a href="@Url.Action("History","Profile", new { idUser = nguoiDung.Gmail })" style="color: black; font-weight: 600; cursor: pointer;">Tất cả</a></div>
                                <div><a href="@Url.Action("ChoXacNhan","Profile", new { idUser = nguoiDung.Gmail, idStatus = 0 })" style="color: black; font-weight: 600; cursor: pointer;">Chờ xác nhận</a></div>
                                <div><a href="@Url.Action("DaDat","Profile", new { idUser = nguoiDung.Gmail, idStatus = 1 })" style="color: black; font-weight: 600; cursor: pointer;">Đã đặt</a></div>
                            </div>
                            <form>
                                <div class="position-relative mx-auto" style="margin-bottom: 20px !important;">
                                    <input class="form-control w-100 py-3 ps-4 pe-5" style="padding: 10px !important; border-radius: 6px; font-size: 13px;" type="text" placeholder="Tìm kiếm theo tên Tour hoặc mã Tour">
                                    <button type="button" class="btn btn-primary position-absolute mt-2 me-2" style="top: -20%; right: 0; font-size: 13px;">Tìm kiếm</button>
                                </div>
                            </form>
                            <div class="row g-3" style="margin-top: 0px">
                                <div class="col-md-12" style="margin-bottom: 20px">
                                    <div class="form-floating" style="border: 1px solid rgb(206, 201, 201); padding: 15px; border-radius: 6px;">
                                        <div class="content_order" style="display: flex;">

                                        </div>
                                    </div>
                                </div>
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-12" style="margin-bottom: 20px">
                                        <div class="form-floating" style="border: 1px solid rgb(206, 201, 201); padding: 15px; border-radius: 6px;">
                                            <div style="display: flex;">
                                                <div style="flex: 30%;">
                                                    <img alt="" src="~/images/images_tour/@Html.DisplayFor(modelItem => item.Avata)" width="100%" height="100%">
                                                </div>
                                                <div style="flex: 55%; margin: 0px 10px; text-align: left;">
                                                    <div class="" style="margin-bottom: 10px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><a href="rooms-single.html">@Html.DisplayFor(modelItem => item.TenTour)</a></div>
                                                    <div style="font-size: 13px; color: blue; margin-bottom: 10px"><i class="fa fa-ticket" aria-hidden="true"></i> <span>@Html.DisplayFor(modelItem => item.IdTour)</span></div>
                                                    <div class="d-md-flex" style="font-size: 12px; margin-bottom: 10px">
                                                        <ul class="list" style="margin: 0px;">
                                                            <li style="list-style: none;"><span class="per">Số lượng hành khách:</span> <span class="price mr-2">@Html.DisplayFor(modelItem => item.SoLuongHanhKhach)</span></li>
                                                        </ul>
                                                        <ul class="list" style="margin: 0px; margin-left: 10px">
                                                            <li style="list-style: none;"><span>Khởi hành:</span> @Html.DisplayFor(modelItem => item.KhoiHanh)</li>
                                                        </ul>
                                                    </div>
                                                    <div style="font-size: 13px; color: black;"><span class="per">Ngày đặt:</span> <span class="price mr-2">25/04/2024</span></div>
                                                </div>
                                                <div style="flex: 15%; text-align: center; color: red; padding: 50px 0px;">
                                                    <div>Tổng tiền</div>
                                                    <div>20.000</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Booking End -->
        <!-- Back to Top -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    
    <script>
        var id_user = document.querySelector(".id_user").textContent
        var content_order = ""
        var content_price = ""
        var totalprice = 0
        var listitem = JSON.parse(localStorage.getItem(id_user))

        if (listitem != null) {
            for (let i = 0; i < listitem.length; i++) {
                if (listitem[i] != null) {
                    content_order += `<div style="flex: 30%;">
                                        <img alt="" src="${listitem[i].avata}" width="100%" height="100%">
                                    </div>
                                    <div style="flex: 55%; margin: 0px 10px; text-align: left;">
                                        <div class="" style="margin-bottom: 10px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><a href="rooms-single.html">${listitem[i].tentour}</a></div>
                                        <div style="font-size: 13px; color: blue; margin-bottom: 10px"><i class="fa fa-ticket" aria-hidden="true"></i> <span>${listitem[i].idtour}</span></div>
                                        <div class="d-md-flex" style="font-size: 12px; margin-bottom: 10px">
                                            <ul class="list" style="margin: 0px;">
                                                <li style="list-style: none;"><span class="per">Số lượng hành khách:</span> <span class="price mr-2">${parseInt(listitem[i].soluongnguoilon) + parseInt(listitem[i].soluongtreem)}</span></li>
                                            </ul>
                                            <ul class="list" style="margin: 0px; margin-left: 10px">
                                                <li style="list-style: none;"><span>Khởi hành:</span> ${listitem[i].khoihanh}</li>
                                            </ul>
                                        </div>
                                        <div style="font-size: 13px; color: black;"><span class="per">Ngày đặt:</span> <span class="price mr-2">25/04/2024</span></div>
                                    </div>
                                    <div style="flex: 15%; text-align: center; color: red; padding: 50px 0px;">
                                        <div>Tổng tiền</div>
                                        <div class="total_price"></div>
                                    </div>`
                    totalprice += parseFloat(listitem[i].soluongnguoilon) * parseFloat(listitem[i].gianguoilon) + parseFloat(listitem[i].soluongtreem) * parseFloat(listitem[i].giatreem);
                }
            }
            document.querySelector(".content_order").innerHTML = content_order
            document.querySelector(".total_price").innerHTML = totalprice.toLocaleString('vi-VI', { maximumFractionDigits: 2 })
        }
    </script>
</body>

</html>