
@model WebTourTravel.Models.ModelBooking
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <h1>@Model.Email</h1>
    <h1>@Model.Name</h1>
    <p>@Model.SoLuongNguoiLon</p>
    <p>@Model.SoLuongTreEm</p>
    <p>@Model.PhoneNumber</p>
    <p>@Model.GhiChu</p>
    <p>@Model.PhuongThucThanhToan</p>
    <p>@Model.TongTien</p>
    <p>@Model.IdTour</p>





</div>
