@model IEnumerable<WebTourTravel.Tour>
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .box-icon-classic-title:hover {
            color: #01b3a7;
            transition: all ease 0.5s;
        }

        .thumbnail-mary-figure img {
            object-fit: cover;
            object-position: center;
            width: 270px;
            height: 195px;
        }
    </style>
</head>
<body>
    <!-- Swiper-->
    <section class="section swiper-container swiper-slider swiper-slider-corporate swiper-pagination-style-2" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="false" data-direction="vertical">
        <div class="swiper-wrapper text-left">
            <div class="swiper-slide context-dark" data-slide-bg="images/DaNangBannerTo2.jpg">
                <div class="swiper-slide-caption section-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Enjoy the Best Destinations with Our Travel Agency</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide context-dark" data-slide-bg="images/Hoi_An_banner.jpg">
                <div class="swiper-slide-caption section-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">A team of professional Travel Experts</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide context-dark" data-slide-bg="images/HueBannerTo2.jpg">
                <div class="swiper-slide-caption section-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Build your Next Holiday Trip with Us</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
    </section>
    <!-- Section Box Categories-->
    <section class="section section-lg section-top-1 bg-gray-4">
        <div class="container offset-negative-1">
            <div class="box-categories cta-box-wrap">
                <div class="box-categories-content">
                    <div class="row justify-content-center">
                        <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                            <ul class="list-marked-2 box-categories-list">
                                <li class="list-item">
                                    <a href="#"><img src="~/images/HueBanner.png" alt="Tour Huế" /></a>
                                    <h5 class="box-categories-title">Tour Huế</h5>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                            <ul class="list-marked-2 box-categories-list">
                                <li class="list-item">
                                    <a href="#"><img src="~/images/DanangBanner.jpg" alt="Tour Huế" /></a>
                                    <h5 class="box-categories-title">Tour Đà Nẵng</h5>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                            <ul class="list-marked-2 box-categories-list">
                                <li class="list-item">
                                    <a href="#"><img src="~/images/HoianBanner.jpeg" alt="Tour Hội An" /></a>
                                    <h5 class="box-categories-title">Tour Hội An</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Owl Carousel-->
            </div>
    </section>

    <!-- Hot tours-->
    <section class="section section-sm bg-default">
        <div class="container">
            <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown" style="text-transform:uppercase;">Các Tour nổi bật</span></h3>
            <div class="row row-sm row-40 row-md-50">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-12 wow fadeInRight">
                        <!-- Product Big-->
                        <article class="product-big">
                            <div class="unit flex-column flex-md-row align-items-md-stretch">
                                <div class="unit-left"><a class="product-big-figure" href="@Url.Action("DetailTour", "Tour", new { idTour = item.id_tour})"><img src="~/images/images_tour/@Html.DisplayFor(modelItem => item.Avata)" alt="" width="600" height="366" /></a></div>
                                <div class="unit-body">
                                    <div class="product-big-body">
                                        <h5 class="product-big-title" style="padding-top: 50px;"><a href="/Tour/DetailTour?idTour=NDSGN301-001-100524VN-D1">Đà Nẵng - Bà Nà - Cầu Vàng - Sơn Trà - Hội An - Rừng Dừa Bảy Mẫu - Đà Nẵng (Khách sạn 4* trọn tour)</a></h5>
                                        <div class="group-sm group-middle justify-content-start">
                                            <div class="product-big-rating"><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div><a class="product-big-reviews" href="#">5 lượt đánh giá</a>
                                        </div>
                                        <p class="product-big-text" style="color: #4f4141;">
                                            <span>Ngày đi: </span>
                                            <b>@Html.DisplayFor(modelItem => item.KhoiHanh)</b>
                                        </p>
                                        <p class="product-big-text" style="color: #4f4141;">
                                            <span>Nơi khởi hành: </span>
                                            <b>@Html.DisplayFor(modelItem => item.NoiKhoiHanh)</b>
                                        </p>
                                        <a class="button button-black-outline button-ujarak" href="@Url.Action("Booking", "Booking", new { idTour = item.id_tour})">Đặt Tour</a>
                                        <div class="product-big-price-wrap"><span class="product-big-price">@(string.Format("{0:0,0} VNĐ", item.GiaNguoiLon))</span></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
        </div>
    </section>

    <!--	Instagrram wondertour-->
    <section class="section section-sm section-top-0 section-fluid section-relative bg-gray-4" style="margin: 50px 0;">
        <div class="container-fluid">
            <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown" style="text-transform:uppercase;">Một số địa điểm nổi tiếng</span></h3>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-classic owl-dots-secondary" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="5" data-xxl-items="6" data-stage-padding="15" data-xxl-stage-padding="0" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
                <!-- ANH TOUR -->
                @{
                    TourDuLichEntities tourEntity = new TourDuLichEntities();
                }
                @foreach (var item in tourEntity.AnhTour)
                {
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary">
                        <div class="thumbnail-mary-figure">
                            <img src="~/images/images_tour/@Html.DisplayFor(modelItem => item.DuongDan1)" alt="" width="270" height="195" />
                        </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="~/images/images_tour/@Html.DisplayFor(modelItem => item.DuongDan1)" data-lightgallery="item"><img src="images/gallery-image-1-270x195.jpg" alt="" width="270" height="195" /></a>
                        </div>
                    </article>
                }
            </div>
        </div>
    </section>


    <!--	Our Services-->
    <section class="section section-sm">
        <div class="container">
            <h3 style="text-transform:uppercase;">Dịch vụ của chúng tôi</h3>
            <div class="row row-30">
                <div class="col-sm-6 col-lg-4">
                    <article class="box-icon-classic">
                        <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                            <div class="unit-left">
                                <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-classic-title">Mạng bán tour</h5>
                                <p class="box-icon-classic-text">Đầu tiên tại Việt Nam</p>
                                <p class="box-icon-classic-text">Ứng dụng công nghệ mới nhất</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <article class="box-icon-classic">
                        <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                            <div class="unit-left">
                                <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-classic-title">Thanh toán</h5>
                                <p class="box-icon-classic-text">An toàn & linh hoạt</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <article class="box-icon-classic">
                        <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                            <div class="unit-left">
                                <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-classic-title">Đặt tour</h5>
                                <p class="box-icon-classic-text">Dễ dàng và nhanh chóng</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <article class="box-icon-classic">
                        <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">

                            <div class="unit-left">
                                <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-classic-title">Giá cả</h5>
                                <p class="box-icon-classic-text">Luôn có mức giá tốt nhất</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <article class="box-icon-classic">
                        <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                            <div class="unit-left">
                                <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-classic-title">Sản phẩm & dịch vụ</h5>
                                <p class="box-icon-classic-text">Đa dạng - Chất lượng - An toàn</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <article class="box-icon-classic">
                        <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                            <div class="unit-left">
                                <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-classic-title">Hỗ trợ</h5>
                                <p class="box-icon-classic-text">Hotline & trực tuyến (08h00 - 22h00)</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>




    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
</body>
</html>